# Ignore these Xcode files
# Xcode
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Ignore Pods files as they can be re-installed at any time - unless we modify one of them!!
# Pods/

# Ignore Apple directory data
*.DS_Store
